input[type=submit] {   
    background-color: blue;   
    width: 20%;  
    color: white;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
}    
input[type=text]{   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}  
textarea{ 
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;  
}
             
.container {   
    padding: 5px;    
    width: 40%;
    height: 300px;
    margin-top: 50px;
    margin-left: 370px;
    background-color: white;
}   
#log{
    font-size: 15px;
    color: white;
}
#inheaderfooter{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 25px;
    text-align: center;
    align-items: center;
}